:root {
  --main-nav-height: 90px;
  --section-stack-gutter: 120px;
  --common-border-radius: 6px;
  --wave-animation-duration: 10s;
  --project-theme-color: #{$white};
  --grid-custom-gap: 16px;
  --loading-animation-duration: 2s;
}
