.bg-transparent {
    background-color: transparent;
}

.bg-white {
    background-color: $white;
}

.bg-grey-100 {
    background-color: $grey-100;
}

.bg-light-secondary {
    background-color: $light-secondary;
}

.bg-light-primary {
    background-color: $light-primary;
}
